<form>

  <div>
    <label for="title">
      Title
    </label>
    <Input @id="title" @value={{this.model.title}} />
  </div>

  <div>
    <label for="duration">
      Duration
    </label>
    <Input @id="duration" @value={{this.model.duration}} />
  </div>

  <div>
    <label for="description">
      Description
    </label>
    <Input @id="description" @value={{this.model.description}} />
  </div>
  
</form>
