<div class="flex justify-between">

  <div class="w-30 px-md">
    <LinkTo @route="admin.services.new">New Service</LinkTo>
    <ul>
      {{#each model as |service|}}
        <LinkTo
          @route="admin.services.service"
          @model={{service.id}}
        >
          <li>
            {{service.listTitle}}
          </li>
        </LinkTo>
      {{/each}}
    </ul>
  </div>

  <div class="w-50 px-md">
    {{outlet}}
  </div>
</div>
