<div class="top-nav">

	<div>
		{{!-- <LinkTo>Signup</LinkTo> --}}

		{{#if session.isAuthenticated}}
			<p>Hi! {{session.currentUser.firstName}}</p>
		{{else}}
			<LinkTo @route="login">Login</LinkTo>
		{{/if}}
	</div>

</div>

{{outlet}}
