<div class="flex justify-between">

  <div class="w-30 px-md">

    <h1>
      {{t "services_type"}}	
    </h1>

    <ServiceList @model={{model}}/>
  </div>

  <div class="w-50 px-md">
    {{outlet}}
  </div>

</div>
